$color-white-01: hsl(0, 0%, 100%);
$color-white-02: hsl(0, 0%, 95%);

$color-black-01: hsl(0, 0%, 0%);
$color-black-02: hsl(0, 0%, 20%);

$color-gray-01: hsl(0, 0%, 80%);
$color-gray-02: hsl(0, 0%, 90%);

$color-theme-01: hsl(270, 100%, 65%);
$color-theme-02: hsl(270, 100%, 90%);
