@import "./variables";
@import "./mixins";

.Header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: $color-theme-01;
  color: $color-white-01;
  font-weight: bold;

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }

  &__about {
    margin: 0 {
      left: auto;
    }

    a {
      color: inherit;
    }
  }
}
