@import "./variables";
@import "./mixins";

.Header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: $color-theme-01;
  color: $color-white-01;
  font-weight: bold;

  &__title {
    @include reset-margin;
    font-size: 1.5rem;
  }

  &__link {
    @include reset-list;
    display: flex;
    align-items: center;
    margin-left: auto;

    li {
      margin-left: 1rem;
    }

    button,
    a {
      @include reset-color;

      &:hover {
        color: $color-theme-02;
      }
    }

    button {
      @include reset-padding;
      @include reset-border;
      @include reset-background-color;
      @include reset-font-weight;
      display: none;
      padding: 0 .5rem;
      border: solid 1px {
        radius: .25rem;
      }
    }
  }

  @media (min-width: 45rem) {
    &__link button {
      display: block;
    }
  }
}
