@import "./variables";
@import "./mixins";

.Header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: $color-theme-01;
  color: $color-white-01;
  font-weight: bold;

  &__title {
    @include reset-margin;
    font-size: 1.5rem;
  }

  &__about {
    @include reset-margin;
    margin-left: auto;

    a {
      @include reset-color;
    }
  }
}
