.Main {
  display: flex;
  flex-direction: column;
  color: hsla(0, 0%, 0%, .6);
  line-height: 1.5;
  user-select: none;
}

.Main__header {
  flex-shrink: 0;
}

.Main__body {
  display: flex;
  flex-grow: 1;
}

.Main__aside {
  flex-basis: 15rem;
}

.Main__main {
  flex-grow: 1;
}
