@import "./variables";

.Main {
  display: flex;
  flex-direction: column;
  color: $color-black-02;
  line-height: 1.5;
  user-select: none;

  &__header {
    flex-shrink: 0;
  }

  &__body {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-self: center;
    width: 100%;
    max-width: 60rem;
  }

  &__aside {
    display: none;
  }

  &__main {
    flex-grow: 1;
  }

  @media (min-width: 45rem) {
    &__aside {
      display: block;
      flex-basis: 15rem;
    }
  }
}
