@import "./variables";
@import "./mixins";

.TaskSummaryPopup {
  @include reset-list;
  display: none;
  position: absolute;
  min-width: 10rem;
  background-color: $color-white-02;

  button {
    @include reset-border;
    @include reset-text-align;
    @include reset-background-color;
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
  }

  &[data-visible="true"] {
    display: block;
  }
}
