@import "./variables";

.TaskSummaryPopup {
  display: none;
  position: absolute;
  min-width: 10rem;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color-white-02;

  button {
    width: 100%;
    padding: .25rem .5rem;
    border: none;
    background-color: transparent;
    font-size: .875rem;
    text-align: inherit;
  }

  &[data-visible="true"] {
    display: block;
  }
}
