.TaskDetailItem {
  &__self {
    display: flex;
    overflow: hidden;
    border: 1px hsla(0, 0%, 0%, .1) {
      bottom-style: solid;
    }
  }

  %__text {
    overflow: hidden;
    padding: .5rem 0;
    border: none;
    background-color: transparent;
    color: inherit;
    text-overflow: ellipsis;
  }

  &__title {
    @extend %__text;
    width: 100%;
  }

  &__date {
    @extend %__text;
  }

  &__button {
    flex-shrink: 0;
    padding: 0 .5rem;
    border: none;
    background: none;
    color: hsla(0, 0%, 0%, .2);
    font-weight: bold;
    cursor: pointer;
  }

  &__children {
    padding-left: 1.5rem;
  }

  &[data-starred="true"] > &__self {
    .TaskDetailItem__title {
      font-weight: bold;
    }
  }

  &[data-checked="true"] > &__self {
    .TaskDetailItem__title,
    .TaskDetailItem__date {
      color: hsla(0, 0%, 0%, .2);
    }
  }
}
