@import "./variables";
@import "./mixins";

.TaskDetailItem {
  &__self {
    display: flex;
    overflow: hidden;
    padding: .25rem 0;
    border: 1px $color-gray-02 {
      bottom-style: solid;
    }
  }

  &__checkbox {
    flex-shrink: 0;
    align-self: center;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem;
    border: solid 2px $color-theme-01 {
      radius: 50%;
    }
    background-color: $color-theme-02;
    cursor: pointer;

    &:hover {
      background-color: $color-theme-03;
    }

    &:checked {
      border-color: $color-gray-01;
      background-color: $color-white-02;

      &:hover {
        background-color: $color-white-03;
      }
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .25rem 0;
  }

  &__text {
    @include reset-border;
    @include reset-background-color;
    @include reset-color;
    padding: 0 .25rem;

    &:hover {
      background-color: $color-white-02;
    }

    &--title {
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }

    &--date {
      font-size: .75rem;
    }
  }

  &__button {
    @include reset-border;
    @include reset-background-color;
    flex-shrink: 0;
    padding: .25rem;
    color: $color-gray-01;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $color-white-02;
    }

    svg {
      pointer-events: none;
    }
  }

  &__children {
    padding-left: .75rem;
  }

  &[data-starred="true"] > &__self {
    .TaskDetailItem__title {
      font-weight: bold;
    }
  }

  &[data-checked="true"] > &__self {
    .TaskDetailItem__title,
    .TaskDetailItem__date {
      color: $color-gray-01;
    }
  }

  @media (min-width: 45rem) {
    &__texts {
      flex-direction: row;
      padding: 0;
    }

    &__text {
      padding: .25rem;
    }

    &__children {
      padding-left: 1.5rem;
    }
  }
}
